.App {
  padding: 36px;
  text-align: center;
}

.App-logo{
  width: 100px;
}

.search-for--Wrapper{
  display: flex;
  justify-content: center;
}

.PhonesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.PhonesList-Item{
  margin-bottom: 24px;
  width: 48%;
}

.image-detail{
  width: 40%;
}

.title-detail{
  margin-bottom: 20px;
  font-size: 30px;
}

.description-detail{
  text-align: left;
  margin: 50px 100px 50px 100px;
  column-count: 2;
}