.App {
  padding: 36px;
  text-align: center;
}

.search-for--Wrapper{
  display: flex;
  justify-content: center;
}

.PhonesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.PhonesList-Item{
  margin-bottom: 24px;
  width: 48%;
}